<%= @event.title %><br>
<%= @event.description %><br>
<%= @event.date %><br>
<%= @event.location %><br><br>
<div>Attendees:</div>
<% @event.attendees.each do |attendee| %>
  <%= attendee.name %><br>
<% end %>